.vscode/
.cache_dir/
.release_dir/
*__pycache__
install-devkitpro-pacman

*.gba
*.sav
*.sym
*.ref.s
*.ref.event
*.ups

# Tools
Tools/EventAssembler/
Tools/FE-PyTools/
Tools/FE-CLib-Mokha/
Tools/check_patch/
Tools/dotnet-install.sh

# Wizardry
*.o
*.d
*.dmp
*.lyn.event

# Spritans
*.4bpp
*.gbapal
*.lz
*.img.bin
*.map.bin
*.pal.bin
*.lz77

# Tables
*.csv.event

# Fonts
*.fefont

# EfxAnims
*.efx.event

packages-microsoft-prod.deb
*.EXPERIMENTAL-checkpatch-fixes
